/* Remove outline from all items on active. */

*:active, *:focus {
	outline: none;
}


/* General styling */

.container {
	max-width: 1000px;
}


/* Header */

.brand-logo {
	font-size:1.5em;
}

/* Push all content below navigation */

body {
    padding-top: 70px;
}

/* Main content */

div.jumbotron {
	text-align: center;
}

.dl-button {
	font-size: 1.2em;
	margin-top: 10px;
}

.col-md-4 .col-head {
	text-align: center;

	b {
		font-size: 3.5em;
	}
}

.detail-img {
	margin: 10px auto 0 auto;
    border: 1px solid rgba(189, 195, 199,0.5);
}

.lead {
    font-size: 19px;
}

/* Footer */

.footer {
    background-color: #e5e5e5;
    margin-top: 40px;
    padding-bottom: 20px;
    
    .col-sm-4 {
        text-align: center;
        
        .icons img {
            width: 30px;
            
            &:not(:first-child) {
                margin-left: 5px;
            }
        }
        
        h4 {
            color: darken(white, 70%);
        }
        
        p {
            color: lighten(black, 50%);
        }
        
        .forkicon {
            width: 1em;
            margin-right: 8px;
        }
        
        button {
        border-radius: 30px;
        border: 0;
        padding: 4px 15px;
        background-color: white;
        transition: background-color 0.5s;
            
        &:active, &:hover {
            background-color: darken(white, 30%);
            
            a {
                color: white;
            }
        }
        
        a {
            transition: color 0.5s;
            color: #888;
            text-decoration: none;
        }
    }
    }
}

/* About page */
.about {
    margin-top: -20px;
}

/* Media queries */

@media screen and (min-width: 768px) {
	.right-nav { 
		float: right;
	}
}

@media screen and (max-width: 768px) {
	.detail-img {
		margin-top: 66px;
	}
}

@media screen and (max-width: 992px) {
	.col-md-4:not(:first-child) {
		margin-top: 20px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.detail-img {
		margin-top: 40px;
	}
}
